#search_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button_container {
  width: 20%;
}

.jumbotron {
  background-color: white;
  font-family: 'Bitter', serif, Arial;
  font-weight: bold;
  color: green;

}